.bg-blue{
    background-color: rgba(55, 0, 255, 0.493);
}

#main{
    transition: opacity 1s ease-in-out;
  }
@media (max-width : 992px) {
    .imgs{
        max-width: 100%;
        height: auto;
    }.card-body a{
    font-size: calc(0.8rem + 0.5vw);
}}
    @media only screen and (max-width: 768px) {
    /* mobile */
    .card-text1{
      font-size: 3vh !important;
    }
    .card-text2{
      font-size: 2vh !important;
    }
    .cards-01{
      padding-bottom: 1px !important;
    }
  }